.slideshow-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
}

.subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slideshow-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.time {
    font-size: 12px;
}

.time-slots-start-end {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 -5px;
}


.time-slots {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time-slot {
    display: flex;
    align-items: center;
}

.time-slot p {
    margin-right: 10px;
}

.time-slot-field {
    width: 250px;
    height: 14px;
    background-color: rgba(224, 224, 224, 0.529);
    border: none;
    margin-left: 10px;
}

.navigation-link-pencil {
    list-style: none;
    text-decoration: none;
}
