.slideshow-controls {
    display: flex;
    align-items: center;
}

.slideshow-button {
    background-color: transparent;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.slideshow-button:hover {
    color: #333333;
}

.subheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 75%;
}

.time {
    font-size: 12px;
    margin-right: 10px;
}

.time-slots-start-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -5px;
}

.time-slot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time-slot p {
    margin-right: 10px;
}

.time-slot-field {
    width: 250px;
    height: 14px;
    background-color: rgba(224, 224, 224, 0.529);
    border: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.time-slot-field:focus {
    background-color: rgba(224, 224, 224, 0.8);
    outline: none;
}
