.App {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 30px auto;
    padding: none;
    margin: -10px;
font-family: 'Arima', cursive;
font-weight: lighter;}

.Content {
    grid-column: 1;
    margin-left: 100px;
    font-family: 'Arima', cursive;
}


input, button, textarea, select, option {
    font-family: 'Arima', cursive;
}

