.submit-cancel-btns {
    display: flex;
    flex: row;
    justify-content: space-between;
    padding: 20px;
}

.error-message-goal {
    color: red;
    font-weight: bolder;
    font-size: 12px;
}
